.job-card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.job-search-card {
    margin-bottom: 18px;
    box-shadow: 2px 2px 2px #ccc;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

.job-card-header {
    position: relative;
    background-color: #f8f8f8;
    padding: .75rem 20px;
    margin-bottom: 0;
    color: inherit;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.job-card-header h5 {
    font-weight: 700;
    font-size: 22px;
}

.job-card-company {
    margin-bottom: 4px;
    margin-top: -3px;
    font-size: 16px;
}

.job-card-body {
    padding: 7px 20px 7px 100px;
}

.job-card-description {
    margin-top: 5px;
    display: block;
    display: -webkit-box;
    font-size: 14px;
    line-height: 21px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 42px;
    margin-bottom: 11px;
}

i {
    color: #cb2026;
}

